<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Bus</title>
    <link rel="icon" type="image/png" href="/img/bus.png" />

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" />
    <!-- Google Fonts Roboto -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" />
    <!-- leaflet -->

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/header.css">
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        #map {
            width: 100%;
            height: 60vh;
        }
    </style>
</head>

<body class="bg-secondary">
    <header>
        <div class="bus-header-banner">
            <h1>Bus</h1>
        </div>
        <div class="clear"></div>
        <nav class="d-flex justify-content-center">
            <ul>
                <li><a href="/profile">Home</a></li>
                <li><a href="/subway">Subway</a></li>
                <li><a href="/commuterRail">Commuter Rail</a></li>
                <li><a href="/bus">Bus</a></li>
                <li><a href="/logout">Logout</a></li>
                <ul>
        </nav>
    </header>

    <div class="d-flex justify-content-center">

        <section class="col-md-6" >
            <div>
                <h2 class="display-4">Silver Line</h2>
                <ul class="d-flex  flex-wrap ">
                    <%for (let route of busroutes[0]) { %>
                        <li class="vehicles mr-1">
                            <a href="/route/<%=route%>" type="button" class="btn btn-lg m-1">
                                <%=route%>
                            </a>
                            <% if(favorites.includes(route)) {%>
                                <i class="fas fa-heart heart"></i>
                                <%} else{%>
                                    <i class="far fa-heart unHeart"></i>
                                    <%}%>
                        </li>
                        <% } %>
                </ul>
    
            </div>
            <div>
                <h2 class="display-4">Cross Town</h2>
                <ul class="d-flex  flex-wrap">
                    <%for (let route of busroutes[1]) { %>
                        <li class="vehicles">
                            <a href="/route/<%=route%>" type="button" class="btn btn-lg m-1">
                                <%=route%>
                            </a>
                            <% if(favorites.includes(route)) {%>
                                <i class="fas fa-heart heart"></i>
                                <%} else{%>
                                    <i class="far fa-heart unHeart"></i>
                                    <%}%>
                        </li>
                        <% } %>
                </ul>
            </div>
            <div>
                <h2 class="display-4">1 - 49</h2>
                <ul class="d-flex  flex-wrap">
                    <%for (let route of busroutes[2]) { %>
                        <li class="vehicles">
                            <a href="/route/<%=route%>" type="button" class="btn btn-lg m-1">
                                <%=route%>
                            </a>
                            <% if(favorites.includes(route)) {%>
                                <i class="fas fa-heart heart"></i>
                                <%} else{%>
                                    <i class="far fa-heart unHeart"></i>
                                    <%}%>
                        </li>
                        <% } %>
                </ul>
            </div>
            <div>
                <h2 class="display-4">50 - 99</h2>
                <ul class="d-flex  flex-wrap">
                    <%for (let route of busroutes[3]) { %>
                        <li class="vehicles">
                            <a href="/route/<%=route%>" type="button" class="btn btn-lg m-1">
                                <%=route%>
                            </a>
                            <% if(favorites.includes(route)) {%>
                                <i class="fas fa-heart heart"></i>
                                <%} else{%>
                                    <i class="far fa-heart unHeart"></i>
                                    <%}%>
                        </li>
                        <% } %>
                </ul>
            </div>
            <div>
                <h2 class="display-4">100s</h2>
                <ul class="d-flex  flex-wrap">
                    <%for (let route of busroutes[4]) { %>
                        <li class="vehicles">
                            <a href="/route/<%=route%>" type="button" class="btn btn-lg m-1">
                                <%=route%>
                            </a>
                            <% if(favorites.includes(route)) {%>
                                <i class="fas fa-heart heart"></i>
                                <%} else{%>
                                    <i class="far fa-heart unHeart"></i>
                                    <%}%>
                        </li>
                        <% } %>
                </ul>
            </div>
            <div>
                <h2 class="display-4">200s</h2>
                <ul class="d-flex  flex-wrap">
                    <%for (let route of busroutes[5]) { %>
                        <li class="vehicles">
                            <a href="/route/<%=route%>" type="button" class="btn btn-lg m-1">
                                <%=route%>
                            </a>
                            <% if(favorites.includes(route)) {%>
                                <i class="fas fa-heart heart"></i>
                                <%} else{%>
                                    <i class="far fa-heart unHeart"></i>
                                    <%}%>
                        </li>
                        <% } %>
                </ul>
            </div>
            <div>
                <h2 class="display-4">300s</h2>
                <ul class="d-flex  flex-wrap">
                    <%for (let route of busroutes[6]) { %>
                        <li class="vehicles">
                            <a href="/route/<%=route%>" type="button" class="btn btn-lg m-1">
                                <%=route%>
                            </a>
                            <% if(favorites.includes(route)) {%>
                                <i class="fas fa-heart heart"></i>
                                <%} else{%>
                                    <i class="far fa-heart unHeart"></i>
                                    <%}%>
                        </li>
                        <% } %>
                </ul>
            </div>
            <div>
                <h2 class="display-4">400s</h2>
                <ul class="d-flex  flex-wrap">
                    <%for (let route of busroutes[7]) { %>
                        <li class="vehicles">
                            <a href="/route/<%=route%>" type="button" class="btn btn-lg m-1">
                                <%=route%>
                            </a>
                            <% if(favorites.includes(route)) {%>
                                <i class="fas fa-heart heart"></i>
                                <%} else{%>
                                    <i class="far fa-heart unHeart"></i>
                                    <%}%>
                        </li>
                        <% } %>
                </ul>
            </div>
            <div>
                <h2 class="display-4">500s</h2>
                <ul class="d-flex  flex-wrap">
                    <%for (let route of busroutes[8]) { %>
                        <li class="vehicles">
                            <a href="/route/<%=route%>" type="button" class="btn btn-lg m-1">
                                <%=route%>
                            </a>
                            <% if(favorites.includes(route)) {%>
                                <i class="fas fa-heart heart"></i>
                                <%} else{%>
                                    <i class="far fa-heart unHeart"></i>
                                    <%}%>
                        </li>
                        <% } %>
                </ul>
            </div>
            <div>
                <h2 class="display-4">700s</h2>
                <ul class="d-flex  flex-wrap">
                    <%for (let route of busroutes[9]) { %>
                        <li class="vehicles">
                            <a href="/route/<%=route%>" type="button" class="btn btn-lg m-1">
                                <%=route%>
                            </a>
                            <% if(favorites.includes(route)) {%>
                                <i class="fas fa-heart heart"></i>
                                <%} else{%>
                                    <i class="far fa-heart unHeart"></i>
                                    <%}%>
                        </li>
                        <% } %>
                </ul>
            </div>
        </section>
    </div>



    <!-- Custom scripts -->
    <script src="http://code.jquery.com/jquery-1.11.0.min.js">
        /* ========================================== 
    scrollTop() >= 300
    Should be equal the the height of the header
    ========================================== */

        $(window).scroll(function () {
            if ($(window).scrollTop() >= 300) {
                $('nav').addClass('fixed-header');
                $('nav div').addClass('visible-title');
            }
            else {
                $('nav').removeClass('fixed-header');
                $('nav div').removeClass('visible-title');
            }
        });

    </script>
    <!-- bootstrap -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="main.js"></script>

</body>

</html>